# API URL
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_API_URL_FALLBACK=http://localhost:5555/api

# Socket URL
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000
NEXT_PUBLIC_SOCKET_URL_FALLBACK=http://localhost:5555

# ImgBB (image hosting)
NEXT_PUBLIC_IMGBB_API_KEY=your-imgbb-api-key
